* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 0.3em;
}

input,
button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0.2rem;
}

input {
  border: 1px solid lightgray;
  margin-right: 0.4em;
}

button {
  border: 1px solid transparent;
  background: #686868;
  color: white;
  cursor: pointer;
}

#wrapper {
  background: #000000c2;
  width: 85vw;
  height: 100%;
  text-align: center;
  margin: 4em auto;
  padding: 1em;
}

#characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 30px;
}
